{
	"presets": ["babel-preset-expo"],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"react-apollo": "./node_modules/react-apollo/react-apollo.browser.umd.js"
				}
			}
		]
	],
	"env": {
		"development": {
			"plugins": ["transform-react-jsx-source"]
		}
	}
}
