{
	"extends": ["standard", "prettier"],
	"plugins": ["react", "react-native", "standard", "prettier"],
	"env": {
		"react-native/react-native": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"react-native/no-unused-styles": 2,
		"react-native/split-platform-components": 2,
		"react-native/no-inline-styles": 2,
		"react-native/no-color-literals": 2
	}
}
